        <link rel="stylesheet" href="/css/user_profile.css">

        <h1>
            codeial / profile page
        </h1>

        <p>name:  <%=user.name%></p>
        <p>Email: <%=user.email %></p> 
        <!-- there was a closing tag missing here as well. -->
       